/* prime due classi per la striscia sony */
.bg-black{
    background-color:black;
    color:white;
    text-align:right;
}
.sony{
    font-weight: bold;
    padding-right:5px;
}
/* --------------------------------------------------- */
/* classi di modifica nav-bar di bootstrap */
.item-nav{
    color:white;
    display: flex;
    justify-content:space-around;
    width:250px;
    font-size:12px;
    color:black;
}
nav [class*="fa-chevron-down"]{
    font-size:8px;
}
.reducto{
    font-size:12px;
    color:black;
}
.sticky{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    background-color:white;
    z-index:1001;
}
.bottone{
    text-align:center;
    border-radius:20px;
    line-height:30px;
    height:30px; 
    transition:1s;
}
.bottone:hover{
    transform: scale(1.4);
}
.login{
    background-color:#333333;
    color:white;
    width:50px;
    line-height:25px;
    height:25px;   
}
/* --------------------------------------------------- */
/* classi per il jumbo e testo */
.jumbo-pic{
    background-image:url('../img/jumbo-bg.png');
    background-repeat:no-repeat ;
    background-size:cover;
    background-position:center top;
}
.testo-jumbo{
    margin-top:200px;
    color:white;
    margin-bottom:30px;
}
.testo-jumbo img{
    width:150px;
    margin-bottom:20px;
}
.testo-jumbo .title-jumbo{
    font-size:35px;
    margin-bottom:20px;
}
.testo-jumbo .subtitle-jumbo{
    margin-bottom:20px;
    font-size:14px;
}
.button-jumbo{
    background-color:#ce3a06;
    width:100px;
}
@media all and (max-width:575px){
    .testo-jumbo{
        margin-top:100px;
    }
} 
/* --------------------------------------------------- */
/* classi immagini sotto il jumbo */
.box-image{
    margin-top:50px;
    border-radius:12px;
    border:2px solid white;
}
.box-image:hover{
    border:2px solid blue;
}
.box-innet{
    border-radius:12px;
    border:3px solid white;
    overflow: hidden;
}
.box-image img{
    width:100%;
}
/* --------------------------------------------------- */
/* classi presentazione prodotto */
.content-text{
    margin-top:70px;
    text-align:center;
}
.content-text div:first-child{
    font-size:12px;
    color:#3d8bd6;
}
.title-presentation{
    font-size:25px;
    margin-bottom:10px;
    font-weight:bold;
}
.content-text div:last-child{
    font-size:12px;
    color:#7b7b7b;   
}
/* --------------------------------------------------- */
/* inizio classi per descrizione e foto ps5 */
.description-ps5{
    margin-top:50px;
}
.description-ps5 img{
    width:100%;
}
.description-ps5 div:first-child{
    font-size:25px;
    margin-bottom:10px;
    font-weight: bold;
}
.subtitle-description{
    font-size:12px;
    color:#7b7b7b;
    margin-bottom:10px; 
}
.description-ps5 div:last-child{
    font-size:12px;
    background-color:#2b65e7;
    width:150px;
    color:white;
}
/* --------------------------------------------------- */
/* classi foto in schiera prodotti */
.box-ps5{
    margin-bottom:100px;
    border-bottom:2px solid white;
    text-align:center;
}
.box-ps5:hover .text-description{
    color:black;
}
.box-ps5:hover img{
    opacity:1;
}
.box-ps5:hover{
    border-bottom:2px solid #267ed3;
}
.box-ps5 img{
    width:80%;
    opacity: .5;
}
.text-description{
    font-size:16px;
    color:#a2a2a2
}
.short{
    margin-bottom:20px;
}
@media all and (max-width:767px){
    .text-description{
        display:none;
    }
}
/* --------------------------------------------------- */
/* classi seconda image in bg con testo innet */
.all-bg-pic{
    background-image:url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size:cover;
    background-position:top center;
}
.bg-all-title img{
    width:250px;
    margin-bottom:24px;
}
.text-all-bg-pic{
    color:white;
    margin-top:80px;
    margin-bottom:20px;
}
.text-1-bg-all{
    font-size:30px;
    line-height:normal;
    margin-bottom:24px;
}
.text-all-bg-pic p:nth-of-type(1){
    font-size:16px;
}
@media all and (max-width:1199px){
    .text-1-bg-all{
        font-size:32px;
    } 
}
@media all and (max-width:991px){
    .bg-all-title img{
        width:350px;    
    }
    .text-1-bg-all{
        font-size:39px;
    } 
} 
@media all and (max-width:575px){
    .bg-all-title img{
        width:250px;    
    }
    .text-all-bg-pic{
        margin-top:50px;
    }
    .text-1-bg-all{
        font-size:23px;
    } 
}   
/* --------------------------------------------------- */
/* classi per le nuove uscite img */
.bg-dark{
    background-color:#191919;
    color:white;
}
.new-game{
    font-size:20px;
    margin-top:10px;
}
.pic-box img{
    width:100%;
}
.pic-box{
    border-radius:12px;
    overflow: hidden;
    margin-top:10px;
}
.text-box{
    font-size:12px;
    margin-top:10px;
    margin-bottom:30px;
}
.text-box i{
    font-size:12px;
}
/* --------------------------------------------------- */
/* classi di testo titolo per la play 4 */

.content-text-2{
    margin-top:70px;
    text-align:center;
}
.presentation-2{
    font-size:25px;
    color:black;
    margin-bottom:10px;
}
.content-text-2 div:last-child{
    font-size:16px;
    color:#828282;
}
/* --------------------------------------------------- */
/* classi immagini ps4 */
.ps4-pic{
    margin-top:50px;
}
.ps4-pic img{
    width:100%;
}
.text-ps4 div:first-child{
    font-size:30px;
    margin-bottom:10px;
}
.middle-text-ps4{
    font-size:16px;
    color:#7c7c7c;
    margin-bottom:10px;
    height:72px;
}
.text-ps4 div:last-child{
    color:white;
    background-color:blue;
    width:100px;
    margin-bottom:100px;
}

/* --------------------------------------------------- */
/* classi bg gray e photo tagliata */
.bg-gray{
    background-color:#c0bdbd;
}
.text-bg-gray div:first-child img{
    width:70%;
}
.middle-text-bg-gray{
    margin-top:20px;
}

.text-bg-gray div:last-child{
    margin-top:20px;
    color:#4176e6;
    background-color:#dadbdd;
    width:200px;
}
.photo-cut img{
    width:100%;
}
@media all and (max-width:767px){
    .photo-cut{
        display:none;
    }
    .text-bg-gray div:first-child{
        margin-top:20px;
    }
    .text-bg-gray div:last-child{
        margin-bottom:20px;
        ;
    }

}

/* --------------------------------------------------- */
/* classi PlayStore */
.playStore-pic{
    margin-top:50px;
}

.playStore-pic img{
    width:100%;
}
/* --------------------------------------------------- */
/* classi bg Avengers */
.bg-blue{
    background-color:#0e1538;
    margin-top:100px;
}
.text-bg-blue div:first-child img{
    width:70%;
}
.middle-text-bg-blue{
    margin-top:20px;
    color:white;
}
.text-bg-blue div:last-child{
    margin-top:20px;
    background-color:white;
    width:200px;
}
@media all and (max-width:767px){
    .text-bg-blue div:first-child{
        margin-top:20px;
    }
    .text-bg-blue div:last-child{
        margin-bottom:20px;
    }

}
/* --------------------------------------------------- */
/* classi social media */
.social{
    text-align:center;
    margin-top:100px;
}
.social-content-pic{
    margin-top:50PX;
}
.social-content-pic img{
    width:100%;
}

/* --------------------------------------------------- */
/* classi footer */
.bg-ciano{
    background-color:#1a419d;
    margin-top:100px;
}
.interlinea{
    padding-top:50px;
}
.text-footer{
    color:white;
    margin-top:20px;
    font-size:16px;
}
.text-footer ul{
    list-style-type:none;
}
.text-footer ul li a{
    color:white;
    text-decoration:none;
}
.logo-end img{
    width:30%;
}
.text-foot{
    margin-top:10px;
    color:white;
    padding-bottom:50px;
}
.text-foot a{
    color:white;
}

/* --------------------------------------------------- */

