/* prime due classi per la striscia sony */
.bg-black{
    background-color:black;
    color:white;
    text-align:right;
}
.sony{
    font-weight: bold;
    padding-right:5px;
}
/* --------------------------------------------------- */
/* classi di modifica nav-bar di bootstrap */
.item-nav{
    color:white;
    display: flex;
    justify-content:space-around;
    width:250px;
    font-size:12px;
    color:black;
}
nav [class*="fa-chevron-down"]{
    font-size:8px;
}
.reducto{
    font-size:12px;
    color:black;
}
.sticky{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    background-color:white;
    z-index:1001;
}
/* --------------------------------------------------- */
/* classi per il jumbo e testo */
.jumbo-pic{
    background-image:url('../img/jumbo-bg.png');
    height:600px;
    background-repeat:no-repeat ;
    background-size:cover;
    background-position:center top;
}
.testo-jumbo{
    margin-top:200px;
    color:white;
}
.testo-jumbo img{
    width:150px;
    margin-bottom:20px;
}
.testo-jumbo .title-jumbo{
    font-size:35px;
    margin-bottom:20px;
}
.testo-jumbo .subtitle-jumbo{
    margin-bottom:20px;
    font-size:14px;
}
/* --------------------------------------------------- */
/* classi immagini sotto il jumbo */
.box-image{
    margin-top:50px;
    border-radius:12px;
    border:2px solid white;
}
.box-image:hover{
    border:2px solid blue;
}
.box-innet{
    border-radius:12px;
    border:3px solid white;
    overflow: hidden;
}
.box-image img{
    width:100%;
}
/* --------------------------------------------------- */
/* classi presentazione prodotto */
.content-text{
    margin-top:70px;
    text-align:center;
}
.content-text div:first-child{
    font-size:12px;
    color:#3d8bd6;
}
.title-presentation{
    font-size:25px;
    margin-bottom:10px;
    font-weight:bold;
}
.content-text div:last-child{
    font-size:12px;
    color:#7b7b7b;   
}
/* --------------------------------------------------- */
/* inizio classi per descrizione e foto ps5 */
.description-ps5{
    margin-top:50px;
}
.description-ps5 img{
    width:100%;
}
.description-ps5 div:first-child{
    font-size:25px;
    margin-bottom:10px;
    font-weight: bold;
}
.subtitle-description{
    font-size:12px;
    color:#7b7b7b;
    margin-bottom:10px; 
}
.description-ps5 div:last-child{
    font-size:12px;
}
/* --------------------------------------------------- */
/* classi foto in schiera prodotti */
.box-ps5{
    margin-bottom:100px;
    border-bottom:2px solid white;
    text-align:center;
}
.box-ps5:hover .text-description{
    color:black;
}
.box-ps5:hover img{
    opacity:1;
}
.box-ps5:hover{
    border-bottom:2px solid #267ed3;
}
.box-ps5 img{
    width:80%;
    opacity: .5;
}
.text-description{
    font-size:16px;
    color:#a2a2a2
}
.short{
    margin-bottom:20px;
}
@media all and (max-width:767px){
    .text-description{
        display:none;
    }
}
/* --------------------------------------------------- */
/* classi seconda image in bg con testo innet */
.all-bg-pic{
    background-image:url('../img/it-takes-two-hero-banner-desktop.jpg');
    height:600px;
    background-size:cover;
    background-position:top center;
}
.bg-all-title img{
    width:150px;
}
.text-all-bg-pic{
    color:white;
}
.text-1-bg-all{
    font-size:25px;
}
.text-all-bg-pic p:nth-of-type(1){
    color:red;
}











/* --------------------------------------------------- */



